@model AnimeShop.Models.CategoryModel

@{
    ViewBag.Title = "Potwierdzenie usunięcia kategorii " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="S-card-default">

    <h2>Potwierdzenie usunięcia</h2>

    Na pewno usunąć kategorię @Html.DisplayFor(model => model.Name)?
    <br />
    Spowoduje to usunięcie tej kategorii ze wszystkich produktów do niej należących.
    <br />
    <br />
    @Html.ActionLink("Nie", "Index", "Manage", null, null) |
    @Html.ActionLink("Tak", "Delete", new { id = Model.CategoryModelId, confirm = true })
</div>
